body {
    overflow-x: hidden !important;
}

.up_menu {
    height: 63px;
    background-color: #00aeff;
    width: inherit;
}

.menu-button {
    display: block;
    background-image: url('/static/img/menu_logo.png');
    width: 35px;
    height: 29px;
    float: left;
    margin-left: 38px;
    margin-top: 16px;
    background-size: 100%;
    border-color: transparent !important;
    background-color: transparent !important;
}

.menu-button:hover {
    background-color: transparent !important;
}

.menu-button::after {
    display: none!important;
}

.menu-button:focus {
    background-color: transparent !important;
}

.learn_button {
    float: left;
    background-color: #0090ff !important;
    border-color: transparent !important;
    margin-left: 51px;
    margin-top: 12px;
}

.search_input {
    float: left;
    width: 816px;
    height: 39px;
    margin-left: 296px;
    margin-top: 12px;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: none;
}

.search_button {
    float: left;
    width: 34px;
    height: 39px;
    margin-left: 18px;
    margin-top: 12px;
    text-indent: -1000em;
    border: none;
    background: transparent url('/static/img/search_button.png') no-repeat;
}

.login {
    float: left;
    width: 72px;
    height: 35px;
    margin-left: 203px;
    margin-top: 12px;
    background-image: url('/static/img/login_button.png');
}

.sign_in {
    float: left;
    width: 198px;
    height: 35px;
    margin-left: 18px;
    margin-top: 12px;
    background-image: url('/static/img/sign_in_button.png');
}

.content {
    background-color: #dfe0e0;
    overflow-x: hidden !important;
    min-height: calc(100vh - 80px);
}

body {
    height: 100%;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.footer_text {
    float: right;
    margin-top: 90px;
    font-size: 16px;
    margin-right: 20px;
}