.icon_time {
    margin-top: 11px;
    width: 15px;
    float: left;
    height: 15px;
    background-image: url('/static/img/time_icon.png');
    margin-bottom: 13px;
}


p {
    margin-bottom: 0px !important;
}

.duration {
    float: left;
    font-size: 14px;
    color: #969595;
    margin-top: 7px;
    margin-left: 6px;
}

.views {
    clear: both;
}

.icon_views {
    width: 23px;
    height: 12px;
    float: left;
    background: url('/static/img/views_icon.png') no-repeat;
}

.views_text {
    float: left;
    font-size: 14px;
    color: #969595;
    margin-top: -4px;
    margin-left: 6px;
}

.date_added {
    font-size: 14px;
    color: #969595;
    margin-left: 130px;
    margin-top: 30px;
}

.lessons_column {
    float: left;
    margin-right: 28px;
}

.popular_lessons_group {
    width: inherit;
}

.content {
   overflow: auto;
}

#main_page_link {
    border-bottom: 1px solid #0090ff;
}

.popular_lessons_group {
    margin-left: 366px;
    margin-top: 30px;
}
.progress {
    height: 5px!important;
}