.channel_head {
    height: 245px;
    width: 1920px;
    margin-top: -2px;
    padding-top: 190px;
}

.change_head_btn {
    display: block;
    -webkit-appearance: none !important;
    background: url('/static/img/change_channel_head_button.png') no-repeat;
    background-color: transparent !important;
    width: 25px;
    height: 48px;
    margin-left: 1851px;
}

.change_channel_head {
    background-color: #0090ff;
    border-radius: 10px;
    color: white;
    height: 30px;
    box-shadow: none;
    width: 250px;
    margin-top: 20px;
    margin-left: 120px;
}

.channel_menu {
    height: 90px;
    width: inherit;
    background-color: white;
}

.channel_name {
    padding-top: 10px;
    font-size: 18px;
    float: left;
}

.page_select {
    float: left;
    position: absolute;
    margin-left: 607px;
    margin-top: 55px;
}

.page_select a {
    margin-right: 156px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.page_select a:hover {
    color: #0090ff;
}

.subscribe {
    display: block;
    float: left;
    position: absolute;
    margin-left: 1600px;
    background-color: #0090ff;
    height: 30px;
    width: 136px;
    color: white;
    text-align: center;
    font-size: 18px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 29px;
    text-decoration: none;
}

.subscribe:hover {
    text-decoration: none;
    color: white
}

.lesson_name {
    font-size: 14px;
    margin-bottom: 11px !important;
}

.count_subscribers {
    position: absolute;
    margin-left: 1750px;
    margin-top: 31px;
    background-color: #00aeff;
    height: 25px;
    color: white;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

