{% extends 'channel.html' %}
{% block links2 %}
<link rel="stylesheet" href="{{url_for('static', filename='css/channel_lessons_style.css')}}">
{% endblock %}

{% block channel_content %}
<p class="channel_content_title">Все уроки</p>
<div class="popular_lessons_group">
    {% for i in range(lessons|length)%}
    {% if i % 5 == 0%}
    <div class="lessons_column right_none">
        <div class="block_lesson">
            <a href="{{url_for('lesson_page', lesson_id=lessons[i].id)}}" class="preview"
               style="background: url({{url_for('lesson_preview', id=lessons[i].id)}}) no-repeat; background-size:100%;"></a>
            <div class="lesson_name_block"><a href="{{url_for('lesson_page', lesson_id=lessons[i].id)}}" class="lesson_name">{{lessons[i].lesson_name}}</a>
            </div>
            <div class="time">
                <div class="icon_time"></div>
                <p class="duration">{{lessons[i].video.duration}}</p>
            </div>
            <div class="views">
                <div class="icon_views"></div>
                <p class="views_text">{{lessons[i].views}} {{views[i]}}</p>
            </div>
            <p class="date_added">{{dates[i]}}</p>
        </div>
    </div>
    {% else%}
    <div class="lessons_column">
        <div class="block_lesson">
            <a href="{{url_for('lesson_page', lesson_id=lessons[i].id)}}" class="preview"
               style="background: url({{url_for('lesson_preview', id=lessons[i].id)}}) no-repeat; background-size:100%;"></a>
            <div class="lesson_name_block"><a href="{{url_for('lesson_page', lesson_id=lessons[i].id)}}" class="lesson_name">{{lessons[i].lesson_name}}</a>
            </div>
            <div class="time">
                <div class="icon_time"></div>
                <p class="duration">{{lessons[i].video.duration}}</p>
            </div>
            <div class="views">
                <div class="icon_views"></div>
                <p class="views_text">{{lessons[i].views}} {{views[i]}}</p>
            </div>
            <p class="date_added">{{dates[i]}}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<style>
</style>
{% endblock %}